{% extends "base.html" %}

{% set DOMAIN = 'blog.tildes.net' %}

{% block header %}
  <a href="https://{{ DOMAIN }}">Tildes Blog</a>
{% endblock header %}

{% block title %}Tildes Blog{% endblock %}

{% block content %}
<h1>All blog posts</h1>

{% for article in articles %}
<article class="article-summary">
    <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
    <div class="date-info">
      Posted on {{ article.locale_date }} by {{ article.author }}
    </div>
    <p>{{ article.summary }}</p>
    <p><a href="{{ article.url }}">Read the full post</a></p>
</article>
{% endfor %}

{% endblock content %}

{% block pagelist %}
  <h2>Blog Posts</h2>
  <ul>
  {% for article in articles %}
  <li>
    <div class="post-date">{{ article.locale_date }}</div>
    <a href="{{ article.url }}">{{ article.title }}</a>
  </li>
  {% endfor %}
  </ul>
{% endblock %}
